<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-GXyXoAjCQlAbCcPUz0sfTNbUJSZ+OU6WrnF73nPxtxBSyj+gE5vIUBymYz8N7BKF" crossorigin="anonymous">
</head>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-CeztxiAHTveuOryyKj7S/8Wm/iqh7V4oNlLz4K9QW1AbIeLS0QyjM5yAM+8WtR5wYjKZmSlLZP9dWkc0qFvLQ==" crossorigin="anonymous" />
</head>

  <div class="notifications">
    <br>
    <div class="noti">
      <h1 class="noti">Notifications</h1>
    </div>
    <div class="headers">
      <div>
        <h4 (click)="likeToggle()" [class.border]='showlikes'>Likes</h4>
      </div>
      <div>
        <h4 (click)="commentToggle()" [class.border]="showComments">Comments</h4>
      </div>
      <div>
        <h4 (click)="FollowRequestToggle()" [class.border]="showFollowrequests">Followers</h4>

      </div>
    </div>
    <div class="content">

<div *ngIf="showlikes">
  <div class="notification like" *ngFor="let noti of likeNotification">
    <div class="icon">
      <i class="fas fa-heart"></i>
    </div>

    <div class="noti likeStyle">
      <div class="text">
      <p *ngIf="!noti.videoFile"><a href="#">{{noti.likedByUsername}}</a> liked your photo.</p>
      <p *ngIf="noti.videoFile"><a href="#">{{noti.likedByUsername}}</a> liked your video.</p>

      <span class="notiTime" id="notiTime">{{this.homeService.calculateCurrentTime(noti.timestamp)}}</span>
    </div>
    <div>
      <img src="{{imgRetrival+ noti.likedPostImage}}" alt="" id="notiImage" *ngIf="!noti.videoFile">
      <video [src]="imgRetrival+noti.likedPostImage" *ngIf="noti.videoFile" id="notiImage" pause></video>
    </div>
    </div>
  </div>
  <div *ngIf="likeNotification.length==0" style="text-align: center;">
    You have no Like Notifications
  </div><br>
</div>
  <div *ngIf="showComments">
    <div class="notification comment" *ngFor="let noti of commentNotifications">
    <div class="icon">
      <i class="fas fa-comment"></i>
    </div>
    <div class="noti">
      <div class="text">
      <p *ngIf="!noti.videoFile"><a href="#">{{noti.username}}</a> commented on your photo.</p>
      <p *ngIf="noti.videoFile"><a href="#">{{noti.username}}</a> commented on your video.</p>
      <span>{{noti.comment}}</span> <br>
      <span class="notiTime" id="notiTime">{{this.homeService.calculateCurrentTime(noti.createdAt)}}</span>
    </div>
    <div>
      <img src="{{imgRetrival+ noti.postImage}}" alt="" id="notiImage" *ngIf="!noti.videoFile">
      <video [src]="imgRetrival+noti.postImage" *ngIf="noti.videoFile" pause id="notiImage"></video>

    </div>
    </div>
    <div *ngIf="commentNotifications.length==0" style="text-align: center;">
      You have no comment Notifications
    </div><br>

  </div>

</div>

   <div class=" friend" *ngIf="showFollowrequests">
     <div class="text follow" *ngFor="let user of followerNotification" id="notiFollowers">
    <div class="icon follow" id="followicon">
      <i class="fas fa-user plus"></i>
      <span style="color: rgb(181, 177, 177); font-weight: 600;"><a href="#">{{user.name}}</a> started following you.</span>
    </div>
    <div>
      <img src="{{user.profilePhoto}}" alt="" srcset="">
    </div>
    </div>
    <div *ngIf="followerNotification.length==0" style="text-align: center;">
      You have no follow Notification
    </div><br>
  </div><br>

</div>

</div>
