<div class="container">
  <div class="header">
    <h2>Create Group</h2>
  </div>
  <div class="inputDiv">
    <input type="text" [(ngModel)]="groupName" placeholder="Group Name" id="grpName">
    <input type="text" (input)="onSearchUsers($event)" placeholder="Search & Add members to group" id="search">
  </div>
  <div class="members">
    <div class="listOfUsers">
      <div *ngIf="searchResult.length != 0">
        <div class="user" *ngFor="let user of searchResult">
          <div id="tapToChat">
            <div class="userDp">
              <img src="{{user.profilePhoto}}" alt="" srcset="">
              <strong>{{ user.name }}</strong> <br>
              <small *ngIf="user.userName==username" id="you">(You)</small>
            </div>
            <!-- <div id="username">
            </div> -->
            <div class="check">
              <input type="checkbox" (input)="setValues(user)">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="searchResult.length == 0" id="noSearch">
        <h1>No accounts found</h1>
      </div>
    </div>

  </div>
  <div class="buttonDiv">
    <button type="submit" (click)="getSelectedUsers()" class="btn">Add to Group</button>
  </div>
</div>
