.container{
  display: flex;
  /* align-items: center;  */
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width:300px;
  height: 100%;
}
.listOfUsers {
  height: 150px;
  overflow-y: scroll;
}

.listOfUsers::-webkit-scrollbar {
  display: none;
}


.listOfUers div {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(34, 32, 32);
}

.userDp img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
#search{
  height: 20px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
}
#tapToChat{
  display: flex;
  align-items: center;
  width: 100%;
}
#tapToChat div{
  margin: 1px 5px 1px 1px;
}
#username{
  display: flex;
  justify-content: center;
  align-items: center;

}
#noSearch{
  display: flex;
  justify-content: center;
}
.check{

width: 100%;
display: flex;
justify-content: center;
}

.check input{
  height: 25px;
  width: 25px;
}
  .userDp img{
    border-radius: 50%;
    height: 50px;
  }
.members{
  margin: 10px 1px;
  width: 100%;
}
.buttonDiv{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.btn{
  outline: none;
  border: none;
  background-color: var(--blue);
  height: 35px;
  border-radius: 10px;
}
.inputDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.inputDiv input{
  margin:5px;
}
#grpName{
  border: none;
  outline: none;
  width: 100%;
}
.userDp
{
  width: 100%;
}
.userDp strong{
  margin: 1px 3px 1px 5px;
}
#you{
  position: relative;
  left: 55px;
  bottom: 15px;
}
