.container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 7px;
}
.container div{
  margin: 10px 20px;
  cursor: pointer;
  height: 60px;
 width: 100%;
 /* position: relative;
 left: 30px; */

}
.container div:hover{
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  transform: scale(1.0);
}
.container div:hover span{
  transition: 0.4s ease-in-out;
transform: scale(1.1);
}
.logout{
  margin-top: 20px;
  border-top: solid rgb(224, 224, 224) 1px;
}
#logout{
  position: relative;
  top: 20px;
}
.container strong{
  position: relative;
  bottom: 6px;
  left: 4px;
}
#slide{
  position: relative;
  left: 5px;
  bottom: 5px;
}
.dark{
  position: relative;
  top: 5px;
}

.app{
  background-color: rgb(31, 30, 30);
  color: white;
  }
#align{
  position: relative;
  top: 3px;
}
/* / */

