
<div class="container">
  <div (click)="routeToSavedPosts()">
    <span class="material-symbols-outlined" id="align"> bookmarks </span>
    <strong id="align">Saved</strong>
  </div>
  <div>
    <span class="material-symbols-outlined dark"> dark_mode </span> Dark mode
    <mat-slide-toggle id="slide" [(ngModel)]="isToggled" (toggleChange)="darkMode()"   [checked]="isToggled"
    ></mat-slide-toggle>
  </div>


  <div class="logout" (click)="logout()">
    <strong id="logout">Log out</strong>
  </div>
</div>

