

  .containers {
    height: 400px;
    width: 800px;
    display: flex;
  }

  .card {

    display: flex;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    margin: 0 0 0 12px;
  }

  .title {
    color: white;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 200px;
  }
 .circle {
    position: absolute;
    top: 120px;
    width: 100px;
    left: 25px;
  }

  .stroke {
    stroke: white;
  }

  .card img,.card video {
    height: 230px;
    width: 250px;
    padding: 0 50px 70px 0;

  }

  .userName{
    color: white;
    position:absolute;
    margin-top: 50px;
    margin-left: 25px;
    font-weight: 800;
    font-size: 20px;
  }
  .material-symbols-outlined {
    fill: red;
  }

  .align{
    margin-top:50px;
    color: white;
    margin-left:62% ;
    size: 10px;
  }
.count{
  color:white;
  margin-left:75% ;
  margin-top:50px;
  position: absolute;
}
