
.darkMode {
  background-color: #000000;
  color: white;
  height: 100%;
  width: 100%;
}
.darkMode #profile{
  color: white;
}
@media only screen and (max-width: 1200px) {
  .content {
    margin-left: 10px;
  }
  .whole {
  height: 896px;
  overflow: hidden;
  }
}
