.viewPostContaioner{
  display: flex;
  overflow: hidden;
  height: 500px;
}
.img img,.img video{
  height: 100%;
  width: 100%;

}
.img{
  height: 500px;
  width: 100%;
}
.postDetailContainer{
  border: 1px solid rgb(224, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postHeader{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 450px;
  padding: 10px;
}
.postHeader img{
  height: 35px;
  border-radius: 50%;
  width: 35px;
}
#more{
position: relative;
left: 80px;
}
.postCaption{
  text-align: left;
  margin: 10px;
  width: 100%;
  border-bottom: 1px solid rgb(224, 219, 219);
  padding: 10px;
}

.comment img{
  height: 35px;
  border-radius: 50%;
  width: 35px;
}
.comment{
  display: flex;
  align-items: center;
  padding: 10px;
}
.postComments{
  width: 100%;
  height: 270px;

}
.comment strong{
  margin-right: 5px;
  margin-left: 15px;
}
.postHeader strong{
  margin-left: 5px;
}
.commentFooter input{
  border: none;
  outline: none;
}
.btn{
  cursor: pointer;
  font-weight: 700;
  color: var(--blue);
  position: relative;
  left: 200px;
  background-color: azure;
}
.commentFooter{
  border-top: 1px solid rgb(224, 224, 224);
  height: 100px;
  /* position: relative;
  left: 5px; */
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}
#more{
  position: relative;
  margin-left: 40%;
  cursor: pointer;
  font-size: 30px;
}
.postComments{
  height: 230px;
  overflow-y:scroll;
}
.postComments::-webkit-scrollbar{
  display: none;
}
#noComments{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
#time{
margin-left: 25px;
width: 110px;
}

#comment{
  width: 300px;
}
#Commentcontent{
    margin-left: 15px;
}
.interactions{
  /* border-top: 1px solid rgb(224, 224, 224); */
  padding: 5px;
  display: flex;
  justify-content:left;
  align-items: center;
  height: 70px;
}
#likeCount{
  position: relative;
  bottom: 5px;
}
.interactionContainer{
  border-top: 1px solid rgb(224, 224, 224);
  width: 100%;
}
.interactionContainer span{
  margin: 10px;
}
#daysCount{
  font-size:small;
  color:solid rgb(224, 224, 224) ;
}
.liked {
  color: red;
}
#saved{
 position: relative;
 left: 370px;
}
span{
  cursor: pointer;
}
