.liked {
  color: red;
}
.explore-page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  left: 100px;
}

.explore-header {
  text-align: center;
  /* margin-bottom: 20px; */
}

.explore-title {
  font-size: 28px;
  font-weight: bold;
  color: #262626;
}

.explore-content {
  padding: 20px;
}

.explore-item img,
.explore-item video {
  width: 100%;
  height: 300px;
  transition: filter 0.3s;
  display: flex;
  object-fit: contain;
}

.explore-item {
  transition: transform 0.3s ease;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.explore-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.explore-item-title {
  font-size: 16px;
  font-weight: bold;

  text-align: left;
}

.explore-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.image-wrapper video,
.image-wrapper img {
  object-fit: contain;
}
.image-wrapper video {
  position: relative;
  left: 20px;
}

.image-wrapper:hover {
  filter: brightness(80%);
  transform: scale(1.01);
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: relative;
  bottom: 180px;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.like-button,
.share-button {
  padding: 8px 12px;
  margin: 4px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 19px;
  cursor: pointer;
}

.like-button:hover,
.share-button:hover {
  background-color: white;
  color: darkred;
}

button {
  border: none;
}
@media only screen and (max-width: 1200px) {
  .explore-page {
    position: relative;
    left: 0px;
    width: 100%;
  }
  .explore-content {
    overflow-y: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}
