<div class="container">
  <h1>
    <strong> Saved Posts </strong>
  </h1>

  <div class="savedPosts">
    <div *ngFor="let post of savedPosts">
      <div class="post">
        <div class="likes">
          <span class="material-symbols-outlined">
            favorite
          </span>{{post.likes}}
        </div>
        <img src="{{post.fileUrl}}" alt="twisks" (click)="viewPost(post)" *ngIf="!post.videoFile">
        <video [src]="post.fileUrl" *ngIf="post.videoFile" autoplay [muted]="true" (click)="viewPost(post)"></video>
    </div>
  </div>
</div>

