<div class="error">
  <div class="container"><br>
		<img class="logo" src="https://cdn.vectorstock.com/i/1000x1000/54/40/404-page-not-found-vector-11725440.webp" alt="Twisks logo" ><br>
		<!-- <img class="logo" src="https://cdn.vectorstock.com/i/1000x1000/21/35/404-error-page-or-file-not-found-icon-file-vector-21212135.webp" alt="Twisks logo" ><br> -->
		<b><br></b><p class="message">Sorry, this page isn't available</p><br>
		<p class="suggestion">The link you followed may be broken, or the page may have been removed. Click the below button to visit Twisks.</p><br>
		<button (click)="homePage()" class="button">Back to Twisks</button>
	</div>




</div>
