.profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.main {
  display: flex;
  text-align: center;
  position: relative;
  padding-top: 8px;
}
button {
  margin-left: 50px;
  height: fit-content;
  width: 100px;
  padding: 7px;
  border-radius: 8px;
  border: none;
  background-color: rgba(223, 221, 221, 0.63);
  margin-top: 10px;
}
.name {
  text-align: left;
  width: 200px;
  padding-left: 20px;
  padding-top: 5px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid rgb(196, 193, 193);
  border-radius: 13px;
}
.people {
  overflow-y: scroll;
  height: 370px;
  padding: 12px;
}
.heading {
  font-weight: bold;
  font-size: larger;
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
#close {
  cursor: pointer;
  position: relative;
  left: 100px;
  top: 7px;
  font-weight: 700;
}
#user {
  color: grey;
  position: relative;
  bottom: 10px;
}
