<div class="container">
  <div class="heading">
    <p id="head">
      Following
      <span id="close" class="material-symbols-outlined" (click)="close()">
        close
      </span>
    </p>
  </div>
  <hr />
  <div class="people" *ngIf="followingDetails.length != 0">
    <div class="main" *ngFor="let user of followingDetails">
      <img
        class="profile"
        src="{{user.profilePhoto }}"
        alt="twisks"
      />
      <div class="name">
        <p>{{ user.userName }}</p>
        <span id="user">
          {{ user.userName }}
        </span>
      </div>
      <button (click)="unfollow(user)" *ngIf="user._id != activeUser">
        <b>Following</b>
      </button>
    </div>
  </div>
  <div class="people" *ngIf="followingDetails.length == 0">
    <h1>No following yet</h1>
  </div>
</div>
