<div class="box">

  <div class="postContainer">
    <!-- This content should be shown if the user not yet uploaded a img to post -->
    <div *ngIf="!selectedImage || isFileSizeBig">
      <div class="postHeader">
        <h4>Create new post</h4>
      </div>
      <div class="postContent">
        <img src="../../../assets/createPost.png" alt="twisks" />
        <p id="choose">Choose a photo</p>
        <button class="choosePicsBtn btn">
          <span>Select from computer</span>
          <input type="file" (change)="onFileSelected($event)" id="hide"/>
        </button>

        <h2>Or</h2>
        <button class="choosePicsBtn btn" (click)="camera()">
          <span>Take a photo</span>
        </button>

      </div>
    </div>

    <!-- This content should be shown if the user uploaded a img to post -->
    <div *ngIf="selectedImage && !next && !isFileSizeBig">
      <div class="postHeader">
        <span
          class="material-symbols-outlined back"
          (click)="discardPost()"
          title="back"
        >
          keyboard_backspace
        </span>
        <h4 id="upload">Upload post</h4>
        <span id="next" (click)="triggerPostInfoDiv()">Next</span>
      </div>
      <div class="postContent">
        <img
          [src]="selectedImage"
          alt="couldn't load img"
          id="userUploadedImg"
          *ngIf="!isVideoFile"
        />
        <video [src]="selectedImage" *ngIf="isVideoFile" autoplay></video>
      </div>
    </div>


    <div *ngIf="selectedImage && next" id="postInfoDiv">
      <div class="postHeader">
        <span
          class="material-symbols-outlined back"
          (click)="discardPost()"
          title="back"
        >
          keyboard_backspace
        </span>
        <h4 id="createPostH4">Create new post</h4>
        <span id="next" (click)="onSharingThePost()">Share</span>
      </div>
      <div class="postInfoContent">
        <div class="postInfoContentImg">
          <img
            [src]="selectedImage"
            alt="couldn't load img"
            *ngIf="!isVideoFile"
          />
          <video [src]="selectedImage" autoplay *ngIf="isVideoFile"></video>
        </div>
        <div>
          <div class="describeContainer">
            <div class="userInfo">
              <img
                src="{{profilePicRetrival+userProfile}}"
                alt="profile image"
              />
              <strong>{{username}}</strong>
            </div>
            <form [formGroup]="postForm" enctype="multipart/form-data">
              <input
                type="text"
                formControlName="caption"
                placeholder="Write a caption"
              />
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
