
.choosePicsBtn{
color: white;
background-color: var(--blue);
height: 40px;
border: rgb(230, 230, 230);
border-radius: 10px;
text-align: center;
cursor: pointer;
}

.box{
  border-radius: 20px;
}
.postHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(231, 231, 231);
}
.postHeader h4{
  margin: 10px 170px;
}
#next{
  font-weight: 700;
  color: var(--blue);
  cursor: pointer;
}
.back{
  cursor: pointer;

}

.postContainer{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.postContent{
  background-color: rgb(226, 226, 226);
  height: 500px;
  width: 850px;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}
.postContent img{
  height: 200px;
  object-fit: contain;
}
.postContent video{
  height: 100%;

}
#choose{
font-size: xx-large;
}
#hide{
  background-color: black;
  display: flex;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  position: relative;
  bottom: 15px;
}

#userUploadedImg{
  height: 100%;
  width: 100%;
  object-fit: contain;

}

#upload{
  font-weight: 700;
  margin: 10px 300px;
}

.postInfoContent{
display: flex;
height: fit-content;
}

.postInfoContentImg img,.postInfoContentImg video{
  height: 500px;
  width: 800px;
  object-fit: contain;

}

#postInfoDiv{
 overflow: hidden;
  height: 500px;
  width: 1200px;
}
.userInfo img{
  width: 33px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 5px;
}
.userInfo{
  display: flex;
  align-items: center;
  width: 300px;
}
.describeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo strong{
  margin: 0px 15px;
}
#createPostH4{
  display: flex;
  justify-content: center;
  margin: 10px 450px;
  font-weight: 700;
}
.describeContainer{
  display: flex;
  flex-direction: column;
}
.describeContainer div{
  margin: 10px 0px;
}
.describeContainer input{
  height: 300px;
  width: 300px;
  border: none;
  outline: none;
}
.describeContainer input:focus{
  border: none;
  outline: none;
}

