<div *ngIf="userRole!=null && userRole=='user'">
<div class="nav">
  <div class="navTitles">
    <img src="../../../assets/logo.png" alt="" id="logoImage">
    <h1 id="logo">Twisks</h1>

   <div (click)="routeToHome()">
      <span class="material-symbols-outlined"> home </span>
      <strong >Home</strong>
    </div>

    <div (click)="routeToSearch()">
      <span class="material-symbols-outlined"> search </span>
      <strong>Search</strong>
    </div>

    <div (click)="routeToExplore()">
      <span class="material-symbols-outlined"> explore </span>
      <strong>Explore</strong>
    </div>
    <!-- <a href="/message" id="profie"> -->
 <div (click)="routeToMessage()">
      <span class="material-symbols-outlined"> mail </span>
      <strong>Message</strong>
    </div>
    <!-- </a> -->
<!-- <a href="/notification" id="profie"> -->
  <div (click)="routeToNotification()">
    <span class="material-symbols-outlined"> favorite </span>
    <strong>Notifications</strong>
  </div>
<!-- </a> -->
    <div (click)="openCreatePostComponent()">
      <span class="material-symbols-outlined"> add_circle </span>
      <strong>Create Post</strong>
    </div>
    <!-- <mat-dialog-content></mat-dialog-content> -->
    <!-- <a href="profile/home/{{userId}}" id="profie"> -->
      <div class="profileDiv" (click)="routeToProfile()">
      <img [src]="userDp" alt="" id="profilepic">
      <strong id="profile">Profile</strong>
    </div>
    <!-- </a> -->

    <div class="lastNavItem" (click)="openMoreOptionsComponent()">
      <span class="material-symbols-outlined">
        menu
      </span>
      <strong>More</strong>
    </div>
  </div>
</div>
</div>

<div *ngIf="userRole!=null && userRole=='admin'">
  <div class="container border  nav" >
    <div class="navAdmin p-3 my-5">
      <img  src="../../../assets/logo.png" alt="" id="image">
      <h2 class ="name">Twisks</h2>
    </div>
    <div class=" center" >
      <div class=" nav-dashboard my-3">
        <h1 class="nav-user"  [class.highlight]="clickElement === 'Dashboard'"(click)="admin('Dashboard')"routerLink="/admin/statistic">Dashboard</h1>
      </div>
      <div class="nav-dashboard my-3">
        <h1 class="nav-dashboards"[class.highlight]="clickElement === 'User'"(click)="admin('User')" routerLink="/admin/allUsers"> User</h1>
      </div>
      <div class="nav-dashboard my-3">
        <h1 class="nav-dashboards" [class.highlight]="clickElement === 'Complaints'"(click)="admin('Complaints')" routerLink="/admin/manageReports"> Complaints</h1>
      </div>
      <div class="nav-dashboard my-3">
        <h1 class="nav-dashboards"[class.highlight]="clickElement === 'Logout'"(click)="admin('Logout')" (click)="logout()"> Logout
          <span class="material-symbols-outlined logout">
            logout
            </span>
        </h1>

      </div>
    </div>
  </div>
</div>


