<div class="count">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Filters</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of options"
            (click)="choose(option)"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div>
<div class="barGraph">
    <div *ngIf="display">
  <div class="canvas">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="barChartType"
    ></canvas>
  </div>
</div>
<div *ngIf="!display && selectedOptions === options[1]"  >
  <app-active-user></app-active-user>
</div>
<div *ngIf="!display && selectedOptions === options[2]">
    <app-new-user></app-new-user>
</div>

  <div class="arrange">
    <h2>Total User Count : {{total}}</h2>
    <h2>Active User Count : {{active}}</h2>
    <h2>New User Count : {{new}}</h2>
  </div>
</div>
