<div>
  <div class="main">
    <div>
      <img
        class="profile"
        src="{{ profilePicRetrival + userDetails.profilePhoto }}"
      />
    </div>
    <div class="datas">
      <div class="details">
        <p id="userName">{{ userDetails.userName }}</p>
        <button (click)="editProfile()" *ngIf="userDetails._id == activeUser">
          Edit profile
        </button>
        <button
          (click)="follow(userDetails._id)"
          *ngIf="userDetails._id != activeUser && !showFollowing"
        >
          Follow
        </button>
        <button
          (click)="unfollow(userDetails)"
          *ngIf="userDetails._id != activeUser && showFollowing"
        >
          Following
        </button>
        <span
          class="material-symbols-outlined"
          id="more-option"
          (click)="openMoreOptions(userDetails._id)"
          *ngIf="userDetails._id != activeUser"
        >
          more_horiz
        </span>
      </div>
      <div class="post">
        <span
          ><b>{{ activeUserPosts.length }}</b> posts</span
        >
        <a (click)="follower(userDetails._id)"
          ><b>{{ userDetails.followers.length }}</b> followers</a
        >
        <a (click)="following(userDetails._id)"
          ><b>{{ userDetails.following.length }}</b> following</a
        >
      </div>
      <div class="description">
        <span>
          {{ userDetails.bioDetails }}
        </span>
      </div>
    </div>
  </div>
  <div class="posts">
    <div
      class="private"
      *ngIf="
        userDetails.accountType == 'private' &&
        userDetails._id != activeUser &&
        !showFollowing
      "
    >
      <span id="lock" class="material-symbols-outlined"> lock </span>
      <h2>This account is private</h2>
      <h2>Follow to see their photos and videos.</h2>
    </div>
    <div
      class="private"
      *ngIf="
        userDetails.accountType == 'public' ||
        userDetails._id == activeUser ||
        showFollowing
      "
    >
    <div *ngIf="activeUserPosts.length==0">
  <span id="lock" class="material-symbols-outlined"> photo_camera </span>
  <h2>No posts yet</h2>
  <h4 style="color: grey;">When {{ userDetails.userName }} shares photos and videos you'll see them here.</h4>
    </div>
      <div class="savedPosts" *ngIf="activeUserPosts.length!=0">
        <div *ngFor="let post of activeUserPosts" class="loopPost">
          <div class="post">
            <div class="likes">
              <span class="material-symbols-outlined"> favorite </span
              >{{ post.likes }}
            </div>
            <div id="post">
              <img
                src="{{ imgRetrival + post.fileName }}"
                alt=""
                (click)="viewPost(post)"
                *ngIf="!post.videoFile"
              />
              <video
                [src]="imgRetrival + post.fileName"
                *ngIf="post.videoFile"
                autoplay
                [muted]="true"
                (click)="viewPost(post)"
              ></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
