.choosePicsBtn {
  color: white;
  font-weight: bold;
  background-color: black;
  height: 40px;
  border-radius: 20px;
  text-align: center;

}
h4 {
  font-weight: bold;
  font-size: 20px;
}
.postHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid white;
  font-size: larger;
  width: 100%;
}

#next {
  font-weight: 700;
  color: var(--blue);
  cursor: pointer;
}
.back {
  cursor: pointer;
}

.postContainer {
  display: flex;
  justify-content: center;
 overflow: hidden;
  width: 600px;

}

.postContent {
  background-color: #24242426;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  /* width: 500px; */
  height:600px
}
.postContent img{
  height: 100%;
  width: 500px;
  object-fit: contain;
  display: flex;
  align-items: center;


}


#choose {
  font-size: xx-large;
}
#hide {
  background-color:#24242426 ;
  display: flex;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  position: relative;
  bottom: 15px;
}
.choosePicsBtn span {
  position: relative;
  top: 10px;
}


#upload {
  font-weight: 700;
  margin: 10px 300px;
  padding-left: 60px;
}

/* .postContent{
   height: 800px;
  width: 900px;
} */



    h1 {
      text-align: center;
    }

    input[type="file"] {
      display: none;
    }

