<div class="container">
  <h1>Search</h1>
  <div class="searchContainer">
    <form class="searchForm">
      <span class="material-symbols-outlined" id="icon"> search </span>
      <input
        type="text"
        name="search"
        class="searchInput"
        autocomplete="off"
        [(ngModel)]="search"
        placeholder="Search"
        (input)="searchUser()"
      />
    </form>
  </div>
  <div class="details" *ngIf="!search">
    <div class="heading">
      <h2>Recent</h2>
      <i class="clear" (click)="clear()" *ngIf="recentSearch.length != 0">
        Clear All
      </i>
    </div>
    <p class="recentSearch" *ngIf="recentSearchUserDetails.length == 0">
      No recent searches.
    </p>
    <div class="main" *ngFor="let user of recentSearchUserDetails">
      <img src="{{user.profilePhoto }}" />
      <div class="name" (click)="viewUserProfileOfRecentUser(user._id)">
        <p>{{ user.userName }}</p>
        <span id="user">{{ user.name }}</span>
      </div>
    </div>
  </div>
  <div class="details" *ngIf="search">
    <div class="main" *ngFor="let user of userDetail">
      <img src="{{user.profilePhoto }}" />
      <div class="name" (click)="viewUserProfile(user._id)">
        <p>{{ user.userName }}</p>
        <span id="user">{{ user.name }}</span>
      </div>
    </div>
  </div>
</div>
