.container {
  max-width: 300px;
  margin-left: 270px;
  border-right: 1px solid rgb(207, 206, 206);
}
.searchInput {
  padding: 8px;
  height: 35px;
  width: 260px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(223, 222, 222);
}
.details {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  border-top: 1px solid rgb(186, 185, 185);
  height: 600px;
  overflow-y: scroll;
}
#icon {
  color: rgb(150, 149, 149);
  position: absolute;
  margin-top: 6px;
  margin-left: 230px;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#user {
  color: grey;
  position: relative;
  bottom: 10px;
}
.name {
  text-align: left;
  font-weight: 500;
  width: 200px;
  padding-left: 15px;
}
.main {
  display: flex;
  text-align: center;
  position: relative;
  padding-top: 15px;
}
.heading {
  position: relative;
  display: flex;
}
.clear {
  color: var(--blue);
  font-weight: 500;
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 6px;
}
.recentSearch {
  text-align: center;
  color: grey;
  max-height: 600px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 100px;
}
@media only screen and (max-width: 1200px) {
  .container {
    text-align: center;
    max-width: 420px;
    margin-left: 10px;
    margin-top: 20px;
    border-right: 1px solid rgb(207, 206, 206);
  }
  }
