
.explore-header {
  text-align: center;
  height: 100px;
}
.explore-page{
  height: 600px;
  overflow: hidden;
}
.explore-title {
  font-size: 28px;
  margin-bottom: 0px;
  font-weight: bold;
  padding: 20px;
  background-color: lavender;
}

.image-container {
  width: 950px;
  height: 750px;
  position: relative;
  overflow: hidden;
}


.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container video{
position: relative;
left: 220px;
height: 500px;
width: 300px
}


