.container{
    border: 1px solid rgb(175, 175, 175);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    top:100px;
    box-shadow: 0px 2px 2px 8px rgba(56, 55, 55, 0.1);
}
#lock{
    padding: 20px;
    border: 2px solid rgb(11, 11, 11);
    border-radius: 60px;
    font-size: 60px;
    font-weight:lighter;
    width: max-content;
    margin-top:20px;
}
.input{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
input{
    padding: 10px;
    width:300px;
    border: 1px solid rgb(175, 173, 173);
    border-radius: 8px;
}
.button{
    margin-top:20px;
    padding: 10px;
    width:320px;
    border: 1px solid rgb(175, 173, 173);
    border-radius: 8px;
    background-color:var(--blue);
    color:white;
    font-size: 15px;
    font-weight: bold;
}
#head{
    color: black;
    margin-top: 10px;
    font-size: large;
    font-weight: 550;
}
p{
    color: grey;
}
.or{
    margin-top: 30px;
    display: flex;
    color: grey;
    padding-bottom: 20px;
}
#hrleft{
    padding-left: 10px;
    width:120px;
}
#hrright{
    padding-right: 10px;
    width:120px;
}
.create{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 50px;
    cursor: pointer;
}
.footer{
    border-top: 1px solid rgb(181, 176, 176);
    padding: 15px;
    width:370px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
}
.footer:hover{
    color:rgb(102, 101, 101)
}
.create:hover{
    color:rgb(102, 101, 101)
}
a{
    text-decoration: none;
    color: black;
}
.success{
    border: 2px solid rgb(249, 247, 247);
    padding: 12px;
    background-color: rgb(180, 242, 202);
    color: green;
    border-radius: 8px;
    width:300px;
}
.failed{
    border: 2px solid rgb(249, 247, 247);
    padding: 12px;
    background-color: rgb(240, 188, 188);
    color: red;
    border-radius: 8px;
    width:300px;
}