<div class="container">
  <span id="lock" class="material-symbols-outlined"> lock </span>
  <p id="head">Trouble with logging in?</p>
  <p *ngIf="showOtp">
    Enter your email address and we'll send <br />you a one time password to get
    back<br />
    into your account.
  </p>
  <p class="success" *ngIf="!showOtp && !showPassword">
    We've sent a verification code to your<br />
    email -{{ this.emailForm.value.email }}
  </p>
  <p class="success" *ngIf="showPassword">
    Set the new password to your account so<br />
    you can login and access all the features
  </p>
  <p class="failed" *ngIf="showFailed">No user found in the provided email !</p>
  <p class="failed" *ngIf="showOtpFail">OTP does not match !</p>
  <p class="failed" *ngIf="showPassword && showFail">
    Password does not match !
  </p>
  <div class="input" *ngIf="showOtp">
    <form [formGroup]="emailForm" (ngSubmit)="sendOtp()">
      <input
        placeholder="Enter your Email address"
        formControlName="email"
        type="text"
      />
      <div
        *ngIf="
          !emailForm.get('email')?.valid &&
          (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)
        "
        class="failed"
      >
        <div *ngIf="emailForm.controls['email'].errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="emailForm.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
      <button class="button" type="submit">Send Login OTP</button>
    </form>
  </div>
  <div class="input" *ngIf="!showOtp && !showPassword">
    <form [formGroup]="emailForm" (ngSubmit)="verifyOtp()">
      <input
        placeholder="Enter your One Time Password"
        formControlName="otp"
        type="number"
        maxlength="6"
      />
      <button class="button" type="submit">Verify OTP</button>
    </form>
  </div>
  <div class="input" *ngIf="showPassword">
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <input
        placeholder="New Password"
        formControlName="newPassword"
        type="password"
      />
      <br /><br />
      <input
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        type="password"
      />
      <button class="button" type="submit">Submit Changes</button>
    </form>
  </div>
  <div class="or">
    <div id="hrright"><hr /></div>
    OR
    <div id="hrleft"><hr /></div>
  </div>
  <div class="create">
    <a routerLink="/auth/signup">Create New Account</a>
  </div>
  <a class="footer" routerLink="/auth/signin"> Back to Login </a>
</div>
