img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(225, 223, 223);
  width: 600px;
  padding: 20px;
}
.head {
  width: max-content;
  margin-left: 170px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
}
.description {
  margin-top: 7px;
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
}
#photo {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  font-weight: 500;
  color: rgb(49, 98, 246);
}
.data {
  display: flex;
  padding: 5px;
  position: relative;
  justify-content: right;
  margin-right: 40px;
}

#heading {
  margin-right: 40px;
  font-size: 20px;
}
#input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  min-height: 30px;
  max-height: 70px;
}
.button {
  padding: 6px;
  width: 90px;
  border-radius: 10px;
  background-color: #029dfd;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 250px;
}
.subhead {
  font-size: 20px;
  font-weight: 500;
}
.account {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
#actype {
  margin-top: 4px;
  padding: 7px;
}
.subdescription {
  color: grey;
}
.center-dialog {
  transform: translate(-50%, -50%);
  top: 50% !important;
  left: 50% !important;
}
textarea {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: vertical;
  overflow: hidden;
}

.mat {
  color: blue;
}
