.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wid{
  position: relative;
  left: 15px;
}
.container {
  overflow: hidden;
  display: flex;
  position: relative;
  left: 180px;
  width: 100%;
  height: 731px;
  margin-left: 30px;

}

.allusers {
  border-right: rgb(201, 200, 200) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.initalMessageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initalMessageDiv {
  width: 100%;
  text-align: center;
}

.initalMessageDiv span {
  font-size: x-large;
}

.title h4 {
  font-weight: 700;
}

.title input {
  height: 25px;
  border-radius: 10px;
  width: 230px;
  border: 0.5px solid silver;
}

.user img {
  border-radius: 50%;
  height: 65px;
}

.user {
  display: flex;
  width: 320px;
  padding: 3px;
}

.user div {
  margin: 5px;
}

#tapToChat {
  display: flex;
  height: 700px;
}

.listOfUers {
  overflow: scroll;
  height: 250px;
  width: 300px;
  position: relative;
  left: 40px;
}

.listOfUers::-webkit-scrollbar {
  display: none;
}

.messageDiv {
  height: 100%;
  width: 100%;
}

.listOfUers div {
  cursor: pointer;
}

 .header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
height: 55px;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin: 5px;

}

.header strong {
  margin-left: 15px;
  position: relative;
  bottom: 18px;
}

#search {
  position: relative;
  bottom: 27px;
  left: 100px;
  /* background-color: white; */
}
.header span {
  margin-left: 790px;
  cursor: pointer;

}

.userDp img {
  border-radius: 50%;
  position: relative;
  height: 50px;
  top: 2px;
}

#group{
  color:var(--blue);
  font-weight: 500;
  cursor: pointer;
}
#group:hover{
  color:rgb(0, 85, 85);
}
.groups
{
display: flex;
}
#groupDiv{
width: 300px;
margin: 5px;
cursor: pointer;
position: relative;
left: 35px;
display: flex;
}
.groupDp
{
 position: relative;
 right: 20px;
}
#groupDiv img{
  height: 50px;
}
#groupDiv strong{
  margin-left: 15px;
  margin-top: 3px;
}
#groupDiv small{
  margin-left: 5px;
  margin-top: 3px;
}
.createdBy{
display: flex;
justify-content: center;
align-items: center;
}
.createdBy h3{
  padding: 5px;
  background-color: antiquewhite;
  border-radius: 10px;
  color: rgb(132, 132, 132);
}
#profile{
  height: 50px;
  width: 50px;
}
#profileH{
  height: 40px;
  width: 45px;
  position: relative;
  bottom: 5px;
}
#name{
  height: 40px;
}
.create
{
  width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 7px;
}
.userDp strong{
  position: relative;
  top: 4px;
}
#groupDiv strong{
  margin: 5px 1px;
}

/* Styles for the chat page */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.userDp img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.userDp strong {
  font-size: 14px;
  font-weight: bold;
}

.messages {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 10px;
}

.createdBy {
  margin-bottom: 10px;
}

.createdBy h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.chatbox {
  margin-bottom: 20px;
}

.receiver {
  color: black;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.sender {
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.receiver p,
.sender p {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 8px 12px;
  margin: 0;
  font-size: 14px;
  max-width: 70%;
  word-wrap: break-word;
}

.sendMessageFeild {
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
}

.sendMessageFeild form {
  flex: 1;
  display: flex;
}

.sendMessageFeild input[type="text"] {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.sendMessageFeild button {
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  cursor: pointer;
}

.sendMessageFeild button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.boxi{
  display: flex;
  flex-direction: column;
}
.boxi strong{
  position: relative;
  left: 10px;
}
.boxi small{
  position: relative;
  bottom: 5px;
  left: 5px;

}
.noGroups{
  position: relative;
  left: 85px;
}
.sidebar {
  background-color: #f3f3f3;
  padding: 10px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}

.sidebar-content {
  margin-top: 10px;
  /* Additional styles for the content */
}

/* Animation styles */
:host {
  display: block;
}

.slideInOut {
  position: relative;
}

.slideInOut.in {
  transform: translateX(0);
}

.slideInOut.out {
  transform: translateX(-100%);
}

@media only screen and (max-width: 1200px) {
  .container {
    overflow: hidden;
    width: 480px;
    position: relative;
    left: 0px;
    top: 10px;
   margin-left: 0px;
  }
.mobileHidden{
  display: none;
}
.allusers {
  border-right: rgb(201, 200, 200) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  right: 50px;
}

.messages{
  height: 650px;
}
.bothDiv{
  display: flex;
}
  }
